//<INPUT>
// Сніппет (HTML): inp
input[type='text'],
input[type='email'],
input[type='tel'],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.nf-input {
  width: 100%;
  display: block;
  padding: 0px 16px;
  border-radius: 0px;
  height: 46px;
  border-radius: 4px;
  background: #fff;
  border: 1px solid #d4e8d5;
  letter-spacing: 0.04em;
  color: #20222e;
  &::placeholder {
    color: #57575a;
  }
  &._form-focus {
    outline: none;
    border: 1px solid $greenLightColor;
  }
  &._form-error {
  }
}
.input[placeholder]:not([data-placeholder-nohiden]) {
  &::placeholder {
    transition: opacity 0.3s;
  }
  &:focus::placeholder {
    opacity: 0;
  }
}

textarea.nf-input {
  padding: 16px;
  min-height: 180px;
  height: auto;
  display: block;
  @media (max-width: $mobile) {
    min-height: 190px;
  }
}
