.options {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  // .options__item
  &__item {
    position: relative;
    cursor: pointer;
    &:not(:last-child) {
      margin-bottom: em(5);
    }
  }
  // .options__input
  &__input {
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
    &:focus + .options__label:before {
      box-shadow: 0 0 5px #000;
    }
    &:checked + .options__label:before {
    }
    &:checked + .options__label:after {
      transform: scale(1);
    }
  }
  // .options__label
  &__label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    gap: 10px;
    &:before {
      content: '';
      align-self: flex-start;
      width: 20px;
      height: 20px;
      flex: 0 0 20px;
      border-radius: 50%;
      border: 1px solid #a7a9ac;
    }
    &:after {
      content: '';
      transition: all 0.3s ease 0s;
      transform: scale(0);
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #77243a;
      position: absolute;
      left: 5px;
      top: 5px;
    }
  }
  // .options__text
  &__text {
  }
}
.nf-type-options {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  // .nf-type-options__item
  &__item {
    @media (max-width: $mobileSmall) {
      width: calc(50% - 4px);
    }
  }
  // .nf-type-options__input
  &__input {
    &:focus + .options__label:before {
      box-shadow: 0 0 5px #000;
    }
    &:checked + .nf-type-options__label .nf-type-options__text {
      color: #fff;
    }
    &:checked + .nf-type-options__label {
      background: $greenColor;
    }
    &:checked + .nf-type-options__label .nf-type-options__circle {
      background: #f2f9f2 url('@img/icons/check-ok.svg') center left 5px / 8px 8px no-repeat;
    }
  }
  // .nf-type-options__label
  &__label {
    cursor: pointer;
    background: #f2f9f2;
    border-radius: 8px;
    padding: 13px 16px 14px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    @media (max-width: $mobileSmall) {
      width: 100%;
    }
  }
  // .nf-type-options__circle
  &__circle {
    width: 20px;
    height: 20px;
    background: #fff;
    border: 1px solid $greenColor;
    border-radius: 50%;
  }
  // .nf-type-options__text
  &__text {
    font-weight: 500;
    color: $greenColor;
    line-height: math.div(18, 16);
  }
}
.nf-options-kg {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 4px;
  // .nf-options-kg__item
  &__item {
  }
  // .nf-options-kg__input
  &__input {
    &:checked + .nf-options-kg__label .nf-options-kg__text {
      color: #fff;
    }
    &:checked + .nf-options-kg__label {
      background: $greenLightColor;
    }
  }
  // .nf-options-kg__label
  &__label {
    display: inline-flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    min-width: 81px;
    padding: 5px 10px;
    border-radius: 4px;
    height: 46px;
    background: #fff;
    border: 1px solid #d4e8d5;
  }
  // .nf-options-kg__text
  &__text {
    color: #20222e;
  }
}
.nf-info-options {
  display: grid;
  gap: 8px;
  // .nf-info-options__item
  &__item {
  }

  // .nf-info-options__input
  &__input {
    &:checked + .nf-info-options__label .nf-info-options__text {
      color: #fff;
    }
    &:checked + .nf-info-options__label {
      background: #f2f9f2;
      border: 1px solid #2ba758;
      filter: drop-shadow(8px 8px 30px rgba(0, 0, 0, 0.06));
    }
    &:checked + .nf-info-options__label::before {
      background: $greenColor url('@img/icons/check-ok-white.svg') center left 5px / 8px 8px no-repeat;
    }
    &:checked + .nf-info-options__label .nf-info-options__row {
      color: $mainColor;
    }
  }

  // .nf-info-options__label
  &__label {
    background: #fff;
    border: 1px solid #d0d0d0;
    padding: 12px 32px 15px 24px;
    border-radius: 8px;
    transition: all 0.3s cubic-bezier(0.5, 0.02, 0.13, 0.5);
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
    &::before {
      content: '';
      width: 20px;
      height: 20px;
      display: inline-block;
      flex-shrink: 0;
      background: #fff;
      border: 1px solid #007f54;
      border-radius: 50%;
      @media (max-width: em(600)) {
        position: absolute;
        top: 19px;
        left: 24px;
      }
    }
    @media (max-width: em(600)) {
      flex-direction: column;
      align-items: flex-start;
      padding: 17px 20px 17px 54px;
      gap: 4px;
    }
  }

  // .nf-info-options__title
  &__title {
    font-weight: 500;
    line-height: math.div(28, 16);
    max-width: 40%;
    @media (max-width: em(600)) {
      max-width: 100%;
    }
  }

  // .nf-info-options__row
  &__row {
    flex: 1 1 auto;
    display: inline-flex;
    justify-content: flex-end;
    letter-spacing: 0.04em;
    gap: 25px;
    color: #57575a;
    transition: all 0.3s cubic-bezier(0.5, 0.02, 0.13, 0.5);
    @media (max-width: em(600)) {
      gap: 16px;
    }
  }

  // .nf-info-options__value
  &__value {
    font-weight: 500;
    width: 120px;
    flex-shrink: 0;
    @media (max-width: $mobile) {
      width: 90px;
    }
    @media (max-width: em(600)) {
      width: auto;
    }
  }
  &__label-row {
    width: 120px;
    flex-shrink: 0;
    @media (max-width: $mobile) {
      width: 90px;
    }
    @media (max-width: em(600)) {
      width: auto;
    }
  }
}
.nf-order-step-options {
  gap: 8px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  @media (max-width: $mobile) {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 25px;
  }
  // .nf-order-step-options__item
  &__item {
  }

  // .nf-order-step-options__input
  &__input {
    &:checked + .nf-order-step-options__label {
      box-shadow: 0 0 0px 2px #007f54;
      filter: drop-shadow(6px 6px 15px rgba(0, 0, 0, 0.07));
    }
  }
  // .nf-order-step-options__label
  &__label {
    box-shadow: 0 0 0px 1px #d0d1d4;
    padding: 20px 20px 33px 30px;
    border-radius: 8px;
    display: block;
    height: 100%;
    @media (max-width: $mobile) {
      display: flex;
      align-items: center;
      gap: 24px;
      padding: 20px;
    }
    img {
      display: block;
      margin-bottom: 11px;
      height: 26px;
      @media (max-width: $mobile) {
        margin-bottom: 0;
      }
    }
  }
  // .nf-order-step-options__text
  &__text {
    font-weight: 500;
    font-size: 18px;
    line-height: math.div(28, 18);
    color: $greenColor;
  }
}
